<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>Mantra Viewer</title>
    <link href="style.css" rel="stylesheet" type="text/css" />
  </head>
<body>
<script src="script.js"></script>

<div><canvas width="200" height="100" style="border: 1px solid black;" id="theCanvas">canvas</canvas></div>

<button id="prevBtn" class="buttonStyle">&larr; Prev</button> <button id="nextBtn" class="buttonStyle">Next &rarr;</button>

<p>
All the images and texts are from:
<a href='https://github.com/mantra-inc/open-mantra-dataset/'>https://github.com/mantra-inc/open-mantra-dataset/</a> published by 
</p>

<pre>
@article{hinami_aaai_2021,
    author={Ryota Hinami and Shonosuke Ishiwatari and Kazuhiko Yasuda and Yusuke Matsui},
    title={Towards Fully Automated Manga Translation},
    booktitle={Proceedings of the AAAI Conference on Artificial Intelligence},
    year={2021}
}
</pre>

<script>
var rawbase = 'https://raw.githubusercontent.com/mantra-inc/open-mantra-dataset/main/';
var pages = [];//JSON get fetched and manga pages are populated on load

//navigation logic
var pageIndex = -1;
var next = function () {
  pageIndex += 1;
  return navigate();
};
//prevBtn is disable
//Browser has a back button
//BUG: going back beyond page=0, going forward skips page=0 to page=1
var prev = function () {
  //pageIndex -= 1;
  //return navigate();
  return history.back();
};
var navigate = function () {
  var url = '?page=' + pageIndex;
  history.pushState(pageIndex, null, url);
  return renderPage(pages[pageIndex]);
};
window.onpopstate = function (e) {
  console.log('restore: ', e.state);
  if (e.state != null) pageIndex = e.state;
  return renderPage(pages[pageIndex]);
};
// end of navigation logic

var renderPage = function (page) {
  var c = document.getElementById("theCanvas");
  var ctx = c.getContext("2d"); 
  if (!page) {
      ctx.save();
 	      ctx.fillStyle = "rgba(255,165,0,1)";
	     ctx.font = "bold 16px Arial" ;
	     writeInCenter("No more books left.", ctx, c.width, c.height);
	     ctx.rect(0,0,10,10);
	     ctx.fill();   
      ctx.restore();
      return 'done';
  }
  ctx.save();
    var img = new Image();
    img.onload = function () {
      ctx.canvas.width = this.width;
      ctx.canvas.height = this.height;

      ctx.drawImage(img, 0, 0);

 	    ctx.fillStyle = "rgba(255,165,0,1)";
 	    ctx.strokeStyle = "rgba(255,165,0,1)";
	    ctx.font = "bold 16px Arial" ;
      page.text.forEach(text => {
        console.log(text.text_ja);
        console.log(text.text_en);
        ctx.fillText(text.text_en, text.x, text.y);
        ctx.strokeRect(text.x, text.y, text.w, text.h);
      });
    };
    img.src = rawbase+page.image_paths.ja;
  ctx.restore();
  return 'rendered';
};

//get DATA and get things rolling
window.onload = function () {
  console.log("onload");

  var nextBtn = document.getElementById("nextBtn");
  var prevBtn = document.getElementById("prevBtn");
  nextBtn.addEventListener('click', next, false);
  prevBtn.addEventListener('click', prev, false);
  document.addEventListener('keydown', event => {
    // if alt is pressed, skip
    if (event.altKey) return false;
    if (event.code === 'ArrowRight') return nextBtn.click();
    if (event.code === 'ArrowLeft') return prevBtn.click();
  });

  var canvas = document.getElementById("theCanvas");
  var ctx = canvas.getContext("2d"); 
  function onClick(e) {
    console.log('onClick', e);
    var element = canvas;
    var offsetX = 0, offsetY = 0

    if (element.offsetParent) {
      do {
        offsetX += element.offsetLeft;
        offsetY += element.offsetTop;
      } while ((element = element.offsetParent));
    }

    var x = e.pageX - offsetX;
    var y = e.pageY - offsetY;
    var page = pages[pageIndex];
    page.text.forEach(text => {
      if (text.x <= x && x <= text.x + text.w &&
          text.y <= y && y <= text.y + text.h) {
        console.log('Inside Text box');
        console.log(text.text_ja);
        console.log(text.text_en); 
        //no sound coming out
        var msg = new SpeechSynthesisUtterance(text.text_en);
        window.speechSynthesis.speak(msg);
      } else {
        console.log('Not inside box');
      }
    });
  }
  canvas.addEventListener("click", onClick, false);

  //fetching data
  var jsonloc = 'annotation.json';
  fetch(rawbase+jsonloc)
  .then(response => response.json())
  .then(books => {
    books.forEach(book => {
      //console.log(book.book_title);
      book.pages.forEach(page=> {
        page['book_title'] = book.book_title;
        pages.push(page);
      })
    });
    var urlParams = new URLSearchParams(window.location.search);
    if (urlParams.has('page')) {
      var pageNum = Number(urlParams.get('page'));
      if (!isNaN(pageNum)) {
        pageIndex = pageNum;
        return renderPage(pages[pageIndex]);
      }
    } 
    return nextBtn.click();
  });
};
</script>
</body>
</html>
